@import "@styles/variables.scss";
.chatHeader {
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $night-blue-09;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  &__btnBlock {
    
  }

  &__title {
    font-size: 16px;
  }

  & .moreBtn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
}